.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--pokemon_background_color);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.pokedex {
  padding: 0.25rem 0.375rem 0.125rem 0.375rem;
  border-radius: 0.25rem;
  color: var(--poki-index-color);
  background-color: var(--primary_purple);

  position: absolute;
  top: 0.1rem;
  left: 1rem;

  text-align: center;
  font-family: "Rubik";
  font-size: 0.625rem;
  text-transform: uppercase;
}

.img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-position: center center;
  object-fit: contain;
}

.pokemonNameContainer {
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  padding: 0.75rem;

  display: flex;
  justify-content: space-between;

  background-color: var(--pokemon_title_background);
}

.title {
  width: 100%;
  align-self: center;
  text-align: center;
  background-color: var(--pokemon_title_background);
  margin: 0;
  padding-left: 0.5rem;
  text-align: start;

  vertical-align: middle;
  color: var(--titles-color);
  font-size: 1rem;
  text-transform: capitalize;
}

.popupButton {
  width: 2rem;
  height: 1rem;
  background-color: var(--pokemon-info-button-background);
  display: grid;
  place-content: center;
}

.popupButton:hover {
  cursor: pointer;
}
