.container {
    width: 15.125rem;
    padding: 0.5rem 0rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pokemon-info-button-background);
    box-shadow: var(--box-shadow), var(--box-shadow);
    animation: open 0.15s 1 both linear;
    transform-origin: top center;
}

@keyframes open {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
