.componentsContainer {
  padding: 0 1.5rem;
}

// Tablet small
@media (min-width: 64rem) {
  .componentsContainer {
    padding: 0;
    display: grid;
    grid-template-columns: 20rem 1fr;
  }

  .header {
    grid-area: 1/1/2/2;
  }

  .listContainer {
    height: 100vh;
    padding: 2rem 3rem;
    padding-bottom: 0;
    grid-area: 1/2/2/-1;
  }
}
