.button {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
    background-color: transparent;

    &:hover {
        background-color: var(--primary_midnight);
        cursor: pointer;
    }

    &:hover .buttonText {
        color: var(--white);
    }

    &:hover img {
        filter: invert(100) brightness(100);
    }
}

.buttonText {
    justify-self: start;
    font-family: "Rubik";
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    line-height: 120%;
    color: var(--primary_midnight);
}
