.modeButton {
  width: 100%;
  cursor: pointer;
  height: 3.25rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  border-radius: 0.75rem;
  border: solid 3px var(--primary_purple);
  background-color: transparent;

  &:hover {
    transition: 0.25s;
    background-color: var(--primary_purple);
  }

  & .modeState {
    font-size: 1rem;
  }

  &:hover .modeState {
    color: #fff;
  }

  & .img {
    display: block;
    height: 100%;
    order: -1;
    transform: rotateY(0.5turn);
  }
}
