@import "./src/styling/fonts/fonts.module";

.link {
    width: 100%;
    text-decoration: none;
}

.inactiveButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: .75rem;
    opacity: 0.65;
}

.inactiveButton span {
    justify-self: start;

    font-family: "Rubik";
    font-size: 1rem;
    margin: 0;
    line-height: 120%;

    color: var(--primary_midnight);
}

.inactiveButton img {
    justify-self: center;
    filter: none;
}

.activeButton {
    background-color: var(--primary_purple);
}

.activeButton img {
    filter: brightness(100);
}

.activeButton span {
    color: var(--active-button-tekst);
}