@import "./src/styling/fonts/fonts.module";

.link {
    width: 100%;
    text-decoration: none;
}

.inactiveButton {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
    opacity: 0.65;
    background-color: transparent;
    transition: 0.5s;

    &:hover,
    &:focus {
        outline: none;
        box-shadow:
            inset 0 0 0 0.2rem var(--primary_purple),
            var(--box-shadow),
            var(--box-shadow),
            var(--box-shadow);
    }
}

.inactiveButton span {
    justify-self: start;

    font-family: "Rubik";
    font-size: 1rem;
    margin: 0;
    line-height: 120%;

    color: var(--primary_midnight);
}

.inactiveButton img {
    justify-self: center;
}

.activeButton {
    background-color: var(--primary_purple);
    opacity: 1;
    transition: 0.5s;

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--primary_purple);
        box-shadow:
            inset 0 0 0 0.2rem var(--primary_daylight),
            var(--box-shadow),
            var(--box-shadow),
            var(--box-shadow);
    }
}

.activeButton span {
    color: var(--active-button-tekst);
}
