@import "./fonts/fonts.module";
@import "./helpers.module.scss";
@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  // define all theme colors in variables
  --white: #{$color-white};
  --offwhite: #{$color-offwhite};
  --primary_daylight: #{$color-primary_daylight};
  --primary_midnight: #{$color-primary_midnight};
  --primary_purple: #{$color-primary_purple};

  // assign all theme colors to the place they should be rendered
  --background_color: var(--primary_daylight);
  --pokemon_background_color: var(--offwhite);
  --sidebar_background_color: var(--white);
  --pokemon_title_background: var(--white);

  --menu_background_color: var(--offwhite);
  --shadow: rgba(48, 55, 115, 0.15);
  --titles-color: rgba(14, 9, 64, 1);
  --pokemon-info-button-background: var(--white);
  --poki-index-color: rgba(255,255,255,1);
  --active-button-tekst: rgba(255,255,255,1);
  --searchBar-background: rgba(246,246,255,1);
  --sideBar-Containers-border-color: #E7E6EC;
}

html {
  background-color: var(--background_color);
  // font-family: "Rubik";
  font-family: "Cabinet Grotesk";
  font-weight: 300;
  overflow: hidden;
}

button{
  border: none;
}
