:root {
  --white: #fff;
  --offwhite: #f7f7ff;
  --primary_daylight: #edf6ff;
  --primary_midnight: #0e0940;
  --primary_purple: #5631e8;

  --box-shadow: 0px 2px 15px rgba(48, 55, 115, 0.15);
  --background_color: var(--primary_daylight);
  --pokemon_background_color: var(--offwhite);
  --sidebar_background_color: var(--white);
  --pokemon_title_background: var(--white);
}
