// @import "./helpers.module.scss";

$z-index: (
  basic: 1,
  secondary: 2,
  overlay: 4,
  dialog: 5,
  navigation-shadow: 999999999,
  navigation: 1000000000
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
