@import "/src/styling/z-index.module.scss";

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: var(--sidebar_background_color);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    transform: translateX(-100%);
    @include z-index(navigation);
}

.sidebar.isOpened {
    transform: translateX(0%);
}

.TopContainer {
    padding: 3.5625rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    align-self: stretch;

    border-bottom: 1px solid var(--sideBar-Containers-border-color);
}

.pokemonlogoContainer {
    height: 5.625rem;
    width: fit-content;
    padding: 0.875rem 3.6875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 1rem;
}

.pokemonLogo {
    width: 10.625rem;
    height: 3.875rem;
}

.buttonsContainer {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    flex: 1 0 0;
    align-self: stretch;
}

.rightsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 1rem;
    padding: 1rem 1rem 4.25rem 1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: 1px solid var(--sideBar-Containers-border-color);
}

.rightsContainer p {
    font-family: "Rubik";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--rights-color);
}

.rights {
    opacity: 0.4;
}

.modeButtonContainer {
    width: 100%;
    height: fit-content;
}

// Tablet small
@media (min-width: 64rem) {
    .sidebar {
        grid-area: 1/2/2/3;
        transform: none;
    }
}

@media (min-width: 90rem) {
    .sidebar {
        width: auto;
        height: 100%;
        border-radius: 1rem;
        box-shadow: var(--box-shadow);

        top: 1rem;
        left: 1rem;
        // bottom: 1rem;
    }
}
