@import './styling/fonts/fonts.module';
@import './styling/helpers.module.scss';
@import 'normalize.css';

html {
    background-color: var(--background_color);
    font-size: 10px;
    font-family: 'Rubik';
    font-weight: 300;
    overflow: hidden;
}

.view {
    display: grid;
    grid-template-columns: 32rem 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.sidebar {
    width: 100%;
    height: calc(100vh - 4rem);
    border-radius: 1rem;
    background-color: var(--sidebar_background_color);
    margin-top: 2rem;
}
