@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Common
  --red: #ff4f68;
  --green: #00ea93;
  --gold: #ffd833;
  --silver: #adb1b6;
  --copper: #b87333;
  --black-alpha: rgba(0, 0, 0, 0.5);

  // LIGHTMODE
  --dark-blue: #0e0940;
  --dark-blue-alpha: rgba(14, 9, 64, 0.2);
  --gray: #86849f;
  --light-gray: #f3f4f5;
  --purple: #5631e8;
  --purple-alpha: rgba(86, 49, 232, 0.12);
  --white: white;
  --white-transparent: rgba(255, 255, 255, 0.001);
  --dark-gray: #2c2e33;

  // Backgrounds
  --background: var(--light-gray);
  --background-light: var(--white);
  --background-accent: var(--purple);
  --background-accent-alpha: var(--purple-alpha);
  --background-negative: var(--dark-blue);
  --background-transparent: var(--white-transparent);

  // Foregrounds
  --foreground: var(--dark-blue);
  --foreground-alpha: var(--dark-blue-alpha);
  --foreground-light: var(--gray);
  --foreground-accent: var(--purple);
  --foreground-negative: var(--white);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Oxygen-Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100%;
  font-size: 62.5%;
}

body {
  color: var(--foreground);
  min-height: 100%;
  font-size: 1.6rem;

  @supports (padding-top: env(safe-area-inset-top)) {
    --safe-area-inset-top: env(safe-area-inset-top);
    min-height: calc(100% + var(--safe-area-inset-top));
  }

  --font-primary: "Rubik", sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  --radius-small: 0.4rem;
  --radius-medium: 0.8rem;
  --radius-large: 1.2rem;
  --radius-super: 2rem;
  --radius-round: 100vw;

  --shadow-soft: 0 0.2rem 1.6rem rgba(48, 55, 115, 0.15);
  --shadow-medium: 0 0.2rem 1.2rem rgba(36, 48, 76, 0.08);
  --shadow-hard: 0 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.15);

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  --z-negative: -10;
  --z-zero: 0;
  --z-header: 10;
  --z-nav: 20;
  --z-overlay: 30;
  --z-popover: 40;
  --z-spinner: 50;
  --z-dialog: 60;

  --f-tiny: 1.2rem;
  --f-small: 1.4rem;
  --f-normal: 1.6rem;
  --f-large: 2rem;
  --f-header: 2.4rem;
  --f-title: 3.2rem;
}
